@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Acme', sans-serif;
  background-color: #483838;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.8em;
  font-weight: 500;
  color: #d6cda4;
  filter: drop-shadow(2px 4px 6px black);
}

main {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin-top: 3em;
  box-shadow: 0 0 13px;
  padding: 1em;
  border-radius: 6px;
  background-color: #f2d388bd;
}

section {
  display: flex;
  flex-direction: column;
}

header {
  margin: 10px 10px 2em 10px;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  color: #1c6758;
  filter: drop-shadow(0 0 2px);
}

.recent-scores {
  width: 60%;
  overflow-y: auto;
  height: 70vh;
}

.recent-scores > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  border-radius: 5px;
  color: white;
}

li {
  display: flex;
  margin: 10px;
  padding: 0.8em 1em;
  border-radius: 5px;
  background-color: #1c6758;
  justify-content: space-between;
  box-shadow: 0 15px 10px -11px black;
}

li:first-child {
  background-color: #ffb600ad;
}

li:nth-child(2) {
  background-color: #c0c0c0;
}

li:nth-child(3) {
  background-color: brown;
}

button {
  padding: 0.5em 1.5em;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.add-scores {
  width: 35%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input {
  margin-bottom: 3em;
  padding: 1em;
  background-color: transparent;
  border: 1px solid #1c6758;
  box-shadow: 0 10px 8px -7px black;
  border-radius: 5px;
  color: #483838;
  font-weight: 800;
  letter-spacing: 1px;
}

input:last-child {
  margin-bottom: 2em;
}

input:focus {
  color: #1c6758;
  outline: none;
}

input::placeholder {
  font-style: italic;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: 1s;
}

.btn span {
  width: 0;
  overflow: hidden;
  transition: 1s;
  text-align: center;
  font-size: 1.3em;
  color: #1c6758;
  filter: drop-shadow(1px 0 2px);
}

.btn:hover {
  justify-content: space-around;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 15px 10px -13px;
}

.btn:hover span {
  padding: 2px;
  width: max-content;
}

.btn-icon {
  font-size: 1.6em;
  color: #1c6758;
  filter: drop-shadow(1px 0 2px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #3d8361;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d8361af;
}
